/*main header*/
.header {
     font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 10px 0px;
    text-align: right;
    height: 50px;
    width: 100%;
    top: 0;
    border-color:#cccccc;
    margin-top: -10px;
  }

  /*my name */
  #name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;
    padding: 8px 48px 23px 48px;
    top: 0;
    text-align: center;
    color: white;
    height: 48px;
    width: 250px;
    border-color: #4aaaa5;
    margin-top: -20px;
    margin-left: 127px;
  }

   /*links in header settings*/
   #links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    position: sticky;
    text-align: center;
    text-decoration: none;
    word-spacing: 1px; 
    padding: 2px;
    border: 10px;
    width: 30%; 
    margin-top: -40px;
    margin-right: 112px; 
  }

  /*settings for "About Me", "Portfolio", and "Contact Me" headers*/
  #content_header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 35px;
  
  }
  
  body {
    background-image: url("../assets/images/ricepaper.png");
    padding: 0;
    height: 100%;
    margin: 0px 0px 30px 0px;
  }

/*Setting for main content boxes*/
  .container{
    width: 960px;
    height: auto;
    margin: 2% 10%;
    padding: 10px 50px 50px 50px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    background-color: #ffffff;
   }

   #content {
     height: auto;
   }

/*grey line under content headers*/
  hr {
    border-style: solid;
    border-width: 1px;
    border-color:#dddddd;
    margin-bottom: 30px;
  }

/*my photo*/
.image_me {
  float: left; 
  margin: 5px;
  padding: 0px 5px;
  
}

.AboutMeText {
  float: both;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 5px;
  padding: 0px 5px;
}

/* Grid build for Portfolio page*/
.image_container {
  margin: 0px 70px;
  display: inline-block;
 }

/*images*/
.images {
  margin: 2px;
  width: 250px;
  height: 250px;
}
/*Image Text edits*/
.image-text {
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  width: 250px;
  height: 50px;
  padding: 25px 0px 0px 0px;
  position: relative;
  bottom: 100px;
  left: 2px;
  font-size: 25px;

}


/*settings for "text" form items on "Contact Me" page*/
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#message {
  height: 125px;
  resize: vertical;
}

/*settings for "submit" button on "Contact Me" page*/
input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  .footer{
    text-align: center;
    height: 35px;
    position: sticky;
    margin-top: 50px;
    margin-bottom: -30px;
    padding: 10px 0px 0px 0px;
    background-color:#666666;
    background-position: fixed bottom;
    border-top: 5px solid teal;
    width: 100%;
   }